@charset "UTF-8";

@font-face {
	font-family: "a";
	src: url("365cool.ttf");
}

#photoInsertArea {
	position: fixed;
	bottom: 0px;
	width:100%;
}

#photoInsertTbl {
	border: black solid 2px;
	box-shadow: #757575 4px 4px 4px;
	background-color: #E8EAF6;
}

#photoInsertTbl button {
	font-family: "a";
	background-color: white;
	border: black solid 1px;
}

#photoInsertTblBtn {
	border: none;
	border-left: black solid 2px;
}

#galleryArea {
	border: black solid 2px;
	box-shadow: #757575 4px 4px 4px;
	margin-bottom: 20px;
	margin-left: 25px;
	float: left;
	width: 31%;
	height: 300px;
}

#photoInsertArea input {
	font-family: "a";
}

#galleryArea td{
	max-width: 300px;
}

#galleryArea img {
	max-width: 290px;
}

#galleryArea button {
	font-family: "a";
	background-color: white;
	border: black solid 1px;
}

#galleryArea .buttonArea {
	height: 50px;
}

#margin {
	margin-top: 220px;
}