<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="imgMapper">
	<insert id="insertImg" parameterType="com.lhj.oct021jmb.img.Img">
		insert into oct02_gallery values(oct02_gallery_seq.nextval, #{o_name}, #{o_file}, sysdate)
	</insert>
	<select id="gget" 
		resultType="com.lhj.oct021jmb.img.Img"
		parameterType="com.lhj.oct021jmb.img.ImgPager">
		select * 
		from (
			select rownum as rn, o_no, o_name, o_file, o_date 
			from (
				select * from OCT02_GALLERY order by o_date desc
			)
		)
		where rn &gt;=#{start} and rn &lt;= #{end}
	</select>
	<select id="getImgCount" resultType="java.lang.Integer">
		select count(*) from oct02_gallery
	</select>
</mapper>