@charset "EUC-KR";
@font-face {
	font-family: "a";	
	src: url("365cool.ttf");
}

table {
	margin-left: auto;
	margin-right: auto;
	border: black solid 3px;
	width: 350px;
	height: 350px; 
	font-family: "a";
}

th {
	font-size: 20pt;
	padding: 10pt;
}

input, select, button {
	width: 210px;
}

.picture {
	width: 250px;
}

.k {
	width: 50px;
}