@charset "EUC-KR";
/*
	V : 디자이너의 작업 영역
*/
@font-face {
	font-family: "a";	
	src: url("365cool.ttf");
}

table {
	margin-left: auto;
	margin-right: auto;
	border: black solid 3px;
	width: 230px;
	height: 230px; 
	font-family: "a";
}

th {
	font-size: 20pt;
	padding: 10pt;
}

input, select, button {
	width: 210px;
}

#cti {
	box-shadow: 3px 3px 3px red;
}

#mtp {
	box-shadow: 3px 3px 3px green;
}

#ctf {
	box-shadow: 3px 3px 3px blue;
}

#ktm {
	box-shadow: 3px 3px 3px orange;
}